<nav class="navbar navbar-dark bg-dark mb-2">
    <a class="navbar-brand" href="/">News Aggregator</a>
    <!-- <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="news" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link active" routerLink="news">News</a>
        </div>
    </div> -->
    <div class="pull-right">
        <span class="text-light mr-1">Hello, User</span>
        <button type="button" class="btn btn-secondary ">Log Out</button>
    </div>

</nav>