<div class="animated fadeIn pb-5">
    <div class="row pb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Create News</strong>
                </div>
                <form [formGroup]="createNewsForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="textarea-input">News Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type title"
                  autocomplete="title"
                  formControlName="title"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('title').touched &&
                      createNewsForm.get('title').invalid
                  }"
                />
                <div
                  *ngIf="
                    createNewsForm.get('title').touched &&
                    createNewsForm.get('title').invalid
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="createNewsForm.get('title').errors.required">
                    News title is required
                  </div>
                  <div *ngIf="createNewsForm.get('title').errors.minlength">
                    News title must be at least 6 characters
                  </div>
                  <div *ngIf="createNewsForm.get('title').errors.maxlength">
                    News title max length should be 20 characters
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="messageDuration">Date</label>
                                <input type="text" class="form-control" placeholder="publishedAt DD/MM/YY" autocomplete="publishedAt" formControlName="publishedAt" [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('publishedAt').touched &&
                      createNewsForm.get('publishedAt').invalid
                  }" />
                                <div *ngIf="createNewsForm.get('publishedAt').errors" class="invalid-feedback">
                                    <div *ngIf="createNewsForm.get('publishedAt').errors.required">
                                        Date is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="textarea-input">Short Description</label
                >
                <textarea
                  placeholder="Description"
                  formControlName="description"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('description').errors &&
                      (createNewsForm.get('description').touched ||
                        createNewsForm.get('description').dirty)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    createNewsForm.get('description').touched &&
                    createNewsForm.get('description').invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="createNewsForm.get('description').errors.required"
                  >
                    Description is required
                  </div>
                  <div
                    *ngIf="createNewsForm.get('description').errors.minlength"
                  >
                    Description must be at least 6 characters
                  </div>
                  <div
                    *ngIf="createNewsForm.get('description').errors.maxlength"
                  >
                    Description max length should be 36 characters
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="messageDuration"
                  >author</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="author"
                  autocomplete="author"
                  formControlName="author"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('author').errors &&
                      (createNewsForm.get('author').touched ||
                        createNewsForm.get('author').dirty)
                  }"
                />
                <div
                  *ngIf="
                    createNewsForm.get('author').touched &&
                    createNewsForm.get('author').invalid
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="createNewsForm.get('author').errors.required">
                    author is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label class="col-form-label" for="textarea-input"
                  >content</label
                >
                <textarea
                  placeholder="content"
                  formControlName="content"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('content').errors &&
                      (createNewsForm.get('content').touched ||
                        createNewsForm.get('content').dirty)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    createNewsForm.get('content').touched &&
                    createNewsForm.get('content').invalid
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="createNewsForm.get('content').errors.required">
                    content is required
                  </div>
                  <div *ngIf="createNewsForm.get('content').errors.minlength">
                    content must be at least 6 characters
                  </div>
                  <div *ngIf="createNewsForm.get('content').errors.maxlength">
                    content max length should be 36 characters
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label class="col-form-label" for="messageDuration"
                  >Source Url</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="url"
                  autocomplete="new-url"
                  formControlName="url"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('url').errors &&
                      (createNewsForm.get('url').touched ||
                        createNewsForm.get('url').dirty)
                  }"
                />
                <div
                  *ngIf="createNewsForm.get('url').errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="createNewsForm.get('url').errors.required">
                    url required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="messageDuration"
                  >Url Image</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="urlToImage"
                  autocomplete="new-url"
                  formControlName="urlToImage"
                  [ngClass]="{
                    'is-invalid':
                      createNewsForm.get('urlToImage').errors &&
                      (createNewsForm.get('urlToImage').touched ||
                        createNewsForm.get('urlToImage').dirty)
                  }"
                />
                <div
                  *ngIf="createNewsForm.get('urlToImage').errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="createNewsForm.get('urlToImage').errors.required">
                    Url Image is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              class="btn btn-sm btn-success"
              type="submit"
              (click)="saveItem()"
            >
              <i class="fa fa-dot-circle-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>